<div id="artist">
  <%= title artist.name %>
  <div class="header row">
    <div class="photo"><%= artist.decorate.photo %></div>
  </div>

  <div class="row">
    <div class="bio large-8 columns">
      <%= artist.decorate.bio %>
    </div>

    <div class="releases large-4 columns">
      <h2>Latest Releases</h2>

      <ul>
      <% artist.releases.latest.limit(5).each do |release| %>
        <li><%= link_to release.name, release %></li>
      <% end %>
      </ul>
  </div>

  <%= render 'controls', resource: artist if admin_signed_in? %>
</div>
