#home
  %section.articles
    = render articles
  %aside
    .subscribe
      %h2= t :join, scope: :subscribers
      = render 'subscribers/form', subscriber: Subscriber.new
    .latest-releases
      %h2= t :latest, scope: :releases
      = render releases
