.row
  .large-12.columns
    = title 'Contact Us'
    %h2 By Email
    %ul
      %li
        Send us demos at #{mail_to 'music@waxpoeticrecords.com'}
      %li
        Book our artists by messaging #{mail_to 'artists@waxpoeticrecords.com'}
    %h2 By Snail Mail
    %p
      We are located at the following address:
      %br/
      %br/
      %strong Wax Poetic Records
      %br/
      P.O. Box 14934
      %br/
      Philadelphia, PA 19145
    %h2 By Phone:
    %p
      Call us up! Our business line is
      = succeed "." do
        %strong (215) 555-5555
    %p
      You can also fax us at
      = succeed "." do
        %strong (215) 555-5556
    %h2 On Social Media:
    %p
      We're very responsive and love to be chatted up on social media!
    %ul
      %li
        = link_to 'Follow us on Twitter', 'http://twitter.com/waxpoeticrecords'
      %li
        = link_to 'Follow us on Soundcloud', 'http://soundcloud.com/waxpoeticrecords'
      %li
        = link_to 'Like us on Facebook', 'http://facebook.com/waxpoeticrecords'
