<div id="ticket">
  <div class="title row">
    <%= title "Your ticket for '#{event.name}'" %>
  </div>

  <div class="information row">
    <h2>Ticket #<%= ticket.number %></h2>

    <p>
      Thanks for buying a ticket! We hope you have a wonderful time.
      You can save your ticket in one of the following ways:
    </p>

    <ul>
      <li><%= link_to_pdf "Print Ticket", ticket %></li>
      <li><%= link_to_passbook "Save to Passbook", ticket %></li>
    </ul>

    <h3>Reminders</h3>

    <p>
      Remind yourself to go!

      <ul class="sub-nav">
        <li><%= link_to_facebook 'Share on Facebook', ticket.event %>
        <li><%= link_to_calendar 'Add to Calendar',   ticket.event %>
      </ul>
    </p>
  </div>

  <div class="event row">
    <%= render event %>
  </div>
</div>
