<%= simple_nested_form_for release do |f| %>
  <div class="large-12 columns">
    <fieldset id="release-metadata">
      <legend>Release Metadata</legend>

      <%= f.input :name %>
      <%= f.association :artist %>
      <%= f.input :released_on, :as => :date %>
      <%= f.input :catalog_number %>
      <%= f.input :image, :as => :file %>
      <%= f.input :description, :as => :preview %>
    </fieldset>

    <fieldset id="release-tracks">
      <legend>Track List</legend>

      <div class="row">
        <div class="large-12 columns">
          <%=
            f.link_to_add 'Add Track', :tracks, \
              class: 'button secondary',
              data: { target: '#track-fields' }
           %>
      </div>

      <div class="row" id="track-fields">
        <% f.simple_fields_for :tracks do |tf| %>
          <%= tf.input :number %>
          <%= tf.input :name %>
          <%= tf.input :price %>
          <%= tf.input :file, :as => :file %>
          <%= tf.input :_destroy, :as => :hidden %>
          <div class="right">
            <%= link_to 'Remove', '#', class: 'remove button alert' %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class="buttons">
    <%= f.button :submit %>
  </div>
<% end %>

