<%= form_for release do |f| %>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :name %>
    </div>
    <div class="large-9 columns">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :artist_id, 'Artist' %>
    </div>
    <div class="large-9 columns">
      <%= f.select :artist_id, options_from_collection_for_select(Artist.all, :id, :name) %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :released_on %>
    </div>
    <div class="large-9 columns">
      <%= f.date_field :released_on %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :catalog_number %>
    </div>
    <div class="large-9 columns">
      <%= f.text_field :catalog_number %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :cover %>
    </div>
    <div class="large-9 columns">
      <%= f.file_field :cover, class: 'button secondary' %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :description %>
    </div>
    <div class="large-9 columns">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="controls row">
    <div class="large-3 columns">&nbsp;</div>
    <div class="large-9 columns">
      <%= f.submit 'Save', class: 'button' %>
    </div>
  </div>
<% end %>
