<%= simple_form_for release do |f| %>
  <div class="large-12 columns">
    <%= f.input :name %>
    <%= f.association :artist %>
    <%= f.input :released_on %>
    <%= f.input :catalog_number %>
    <%= f.input :cover, :as => :file %>
    <%= f.input :description, :as => :preview %>
  </div>
  <div class="buttons">
    <%= f.button :submit %>
  </div>
<% end %>

