<div id="release">
  <div class="row">
    <div class="large-6 columns">
      <%= title release.title, cosmetic: release.name %>
    </div>

    <div class="large-6 columns">
      <h2 class="artist">by <%= release.artist_link %></h2>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <table class="properties">
        <tr>
          <th>Released On:</th>
          <td><%= release.date %></td>
        </tr>
        <tr>
          <th>Catalog Number:</th>
          <td><%= release.catalog_number %></td>
        </tr>
      </table>

      <div class="tracks">
        <h3>Track Listing</h3>

        <ol type="1">
          <% release.tracks.by_track_number.each do |track| %>
            <li><%= track.name %></li>
          <% end %>
        </ol>
      </div>
    </div>

    <div class="large-6 columns">
      <%= release.photo %>
    </div>
  </div>

  <div class="description">
    <%= release.description %>
  </div>
</div>

<%= render 'controls', resource: release %>
