<div id="release">
  <div class="row">
    <div class="large-9 columns">
      <%= title release.decorate.title, cosmetic: release.decorate.page_title %>
    </div>
    <div class="large-3 columns buttons">
      <%= release.decorate.buy_button %>
      <%= admin_controls 'Releases', resource: release %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <table class="properties">
        <tr>
          <th>Released On:</th>
          <td><%= release.decorate.date %></td>
        </tr>
        <tr>
          <th>Catalog Number:</th>
          <td><%= release.catalog_number %></td>
        </tr>
      </table>

      <div class="tracks">
        <h3>Track Listing</h3>

        <%= release.decorate.track_list %>
      </div>
    </div>

    <div class="large-6 columns">
      <%= release.decorate.photo %>
    </div>
  </div>

  <div class="description">
    <%= release.decorate.description %>
  </div>
</div>
