<div id="release">
  <div class="row">
    <div class="large-9 columns release-title">
      <%= title release.decorate.title, cosmetic: release.decorate.page_title %>
    </div>
    <div class="large-3 columns buttons">
      <%= release.decorate.buy_button %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <table class="properties">
        <tr>
          <th>Released On:</th>
          <td><%= release.decorate.date %></td>
        </tr>
        <tr>
          <th>Catalog Number:</th>
          <td><%= release.catalog_number %></td>
        </tr>
      </table>

      <div class="tracks">
        <h3>Track Listing</h3>

        <ul type="1">
          <% release.decorate.tracks.each do |track| %>
            <li>
              <div class="row">
                <div class="large-8 columns">
                  <%= track.name %>
                </div>
                <div class="large-4 columns">
                  <%= link_to_icon :play, 'Preview', track_preview_path(track), class: 'tiny primary preview button' %>
                  <%= link_to_icon :cart, "Buy (#{track.price})", track.product_path, class: 'tiny success buy button' %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="large-6 columns photo">
      <%= release.decorate.photo %>
    </div>
  </div>

  <div class="description row">
    <div class="large-12 columns">
      <%= release.decorate.description %>
    </div>
  </div>

  <%= admin_controls 'Releases', resource: release if admin_signed_in? %>
</div>
