<footer>
  <div class="bottom-nav">
    <ul>
      <li><%= link_to 'Artists',  artists_path %></li>
      <li><%= link_to 'Releases', releases_path %></li>
      <li><%= link_to 'Store',    spree_path %></li>
      <li><%= link_to 'License',  static_page_path(:license) %></li>
      <li><%= link_to 'About',    static_page_path(:about) %></li>
      <li><%= link_to 'Contact',  static_page_path(:contact) %></li>
    </ul>
  </div>
  <div class="copyright">
    <p>
      Copyright &copy; 2012-2014 Wax Poetic Records.<br>
      All Rights Reserved.<br>
      <!-- TODO: TrustE badge -->
      <!-- TODO: Verisign badge -->
    </p>
  </div>
</footer>
