<footer>
  <div class="bottom-nav large-8 columns">
    <ul class="sub-nav">
      <li><%= link_to 'Artists',  '/artists' %></li>
      <li><%= link_to 'Releases', '/releases' %></li>
      <li><%= link_to 'Store',    '/store' %></li>
      <li><%= link_to 'License',  '/license' %></li>
      <li><%= link_to 'About',    '/about' %></li>
      <li><%= link_to 'Contact',  '/contact' %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <p class="copyright">
      Copyright &copy; 2012-2014 Wax Poetic Music, LLC.<br>
      All Rights Reserved.
    </p>

    <div class="user-nav right">
      <% if user_signed_in? %>
        <p>You are logged in as <strong><%= current_user.email %></strong>.</p>
        <p><%= destroy_link_to 'Log Out', '/logout', class: 'tiny secondary button' %></p>
      <% else %>
        <p><strong>You are not signed in.</strong></p>
        <p>
          <%= reveal_link_to 'Sign In', '/login', class: 'tiny primary button' %>
          &nbsp;&nbsp;&nbsp;
          <%= reveal_link_to 'Sign Up', '/signup', class: 'tiny success button' %>
        </p>
      <% end %>
    </div>

    <!--<div class="badges row">
      <%= image_tag 'truste.png', alt: 'TRUSTe', class: 'badge' %>
      <%= image_tag 'paypal.jpg', alt: 'PayPal', class: 'badge' %>
      <%= image_tag 'verisign.gif', alt: 'Verisign', class: 'badge' %>
    </div>-->
  </div>
  <div id="lightbox" class="reveal-modal" data-reveal></div>
</footer>
