<footer>
  <div class="bottom-nav large-6 columns">
    <ul>
      <li><%= link_to 'Artists',  '/artists' %></li>
      <li><%= link_to 'Releases', '/releases' %></li>
      <li><%= link_to 'Store',    '/store' %></li>
      <li><%= link_to 'License',  '/license' %></li>
      <li><%= link_to 'About',    '/about' %></li>
      <li><%= link_to 'Contact',  '/contact' %></li>
    </ul>
  </div>
  <div class="copyright large-6 columns">
    <p>
      Copyright &copy; 2012-2014 Wax Poetic Music, LLC.<br>
      All Rights Reserved.<br>
      <% if user_signed_in? %>
        You are logged in as <strong><%= current_user.email %></strong>.<br>
        <%= link_to 'Log Out', '/logout', :method => :delete, :class => 'button x-small secondary' %>
      <% end %>
    </p>
    <div class="badges row">
      <%= image_tag 'truste.png', alt: 'TRUSTe', class: 'badge' %>
      <%= image_tag 'paypal.jpg', alt: 'PayPal', class: 'badge' %>
      <%= image_tag 'verisign.gif', alt: 'Verisign', class: 'badge' %>
    </div>
  </div>
  <div id="lightbox" class="reveal-modal" data-reveal></div>
</footer>
