%footer
  .bottom-nav.large-8.columns
    %ul.sub-nav
      %li= link_to 'Artists',  '/artists'
      %li= link_to 'Releases', '/releases'
      %li= link_to 'Store',    '/store'
      %li= link_to 'License',  '/license'
      %li= link_to 'About',    '/about'
      %li= link_to 'Contact',  '/contact'
  .large-4.columns
    %p.copyright
      Copyright © 2012-2014 Wax Poetic Music, LLC.
      %br/
      All Rights Reserved.
    .user-nav.right
      - if user_signed_in?
        %p
          You are logged in as
          = succeed "." do
            %strong= current_user.email
        %p= destroy_link_to 'Log Out', '/logout', class: 'tiny secondary button'
      - else
        %p
          %strong You are not signed in.
        %p
          = reveal_link_to 'Sign In', '/login', class: 'tiny primary button'
             
          \#{reveal_link_to 'Sign Up', '/signup', class: 'tiny success button'}
    /
      <div class="badges row">
      <haml_loud> image_tag &#39;truste.png&#39;, alt: &#39;TRUSTe&#39;, class: &#39;badge&#39; </haml_loud>
      <haml_loud> image_tag &#39;paypal.jpg&#39;, alt: &#39;PayPal&#39;, class: &#39;badge&#39; </haml_loud>
      <haml_loud> image_tag &#39;verisign.gif&#39;, alt: &#39;Verisign&#39;, class: &#39;badge&#39; </haml_loud>
      </div>
  #lightbox.reveal-modal{"data-reveal" => ""}
