<footer>
  <div class="bottom-nav large-6 columns">
    <ul>
      <li><%= link_to 'Artists',  '/artists' %></li>
      <li><%= link_to 'Releases', '/releases' %></li>
      <li><%= link_to 'Store',    '/store' %></li>
      <li><%= link_to 'License',  '/license' %></li>
      <li><%= link_to 'About',    '/about' %></li>
      <li><%= link_to 'Contact',  '/contact' %></li>
    </ul>
  </div>
  <div class="large-6 columns">
    <p class="copyright">
      Copyright &copy; 2012-2014 Wax Poetic Music, LLC.<br>
      All Rights Reserved.
    </p>

    <% if user_signed_in? %>
      <ul class="sub-nav right">
        <li>You are logged in as <strong><%= current_user.email %></strong></li>
        <li><%= destroy_link_to 'Log Out', '/logout' %></li>
      </ul>
      <div class="clear"></div>
    <% else %>
      <ul class="sub-nav right">
        <li><strong>You are not signed in.</strong></li>
        <li><%= reveal_link_to 'Sign In', '/login' %></li>
        <li><%= reveal_link_to 'Sign Up', '/signup' %></li>
      </ul>
      <div class="clear"></div>
    <% end %>

    <div class="badges row">
      <%= image_tag 'truste.png', alt: 'TRUSTe', class: 'badge' %>
      <%= image_tag 'paypal.jpg', alt: 'PayPal', class: 'badge' %>
      <%= image_tag 'verisign.gif', alt: 'Verisign', class: 'badge' %>
    </div>
  </div>
  <div id="lightbox" class="reveal-modal" data-reveal></div>
</footer>
