<header>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to spree_logo, root_path %>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section" id="links">
      <ul class="right">
        <%= nav_item :artists %>
        <%= nav_item :releases %>
        <%= nav_item :events %>
        <%= nav_item :store, text: 'Shop', class: 'has-dropdown' do %>
          <ul class="dropdown">
            <li><%= link_to "cart", '/store/cart' %></li>
            <li><%= link_to "my account", '/store/orders' %></li>
          </ul>
        <% end %>
      </ul>
    </section>
  </nav>

  <%= render 'flash' if flash.any? %>
</header>
