%body
  %header
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            = link_to image_tag('logo', class: 'logo'), '/'
      %section#links.top-bar-section
        %ul.right
          = nav_item :artists
          = nav_item :releases
          = nav_item :events
          %li.has-dropdown
            = link_to 'shop', '/store'
            %ul.dropdown
              %li= link_to "cart", '/store/cart'
              %li= link_to "my account", '/store/orders'
    = render 'flash' if flash.any?
