<ul class="dropdown">
  <li><%= link_to 'Store Admin', '/store/admin', target: '_blank' if admin_signed_in? %></li>
  <li><%= link_to 'My Account', "/users/#{current_user.id}/edit" if user_signed_in? %></li>
  <li><%= link_to 'Sign In', '/users/sign_in' unless user_signed_in? %></li>
  <li><%= link_to 'Records', '/store/products/releases' %></li>
  <li><%= link_to 'Merchandise', '/store/products/merch' %></li>
</ul>
