.row
  .large-4.columns
    .row
      %h1= t '.welcome'
    .row
      = image_tag 'insignia'
    .row
      %p= t '.elevator_pitch'
  .large-8.columns
    %h2= t '.latest_releases'
    - latest_releases.in_groups_of(4) do |releases|
      .row
        - releases.each do |release|
          .large-3.columns
            = render release
