<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= title_tag %>

    <%= stylesheet_link_tag     'application'       %>
    <%= javascript_include_tag  'vendor/modernizr'  %>
    <%= favicon_link_tag        'favicon.ico'       %>
    <%= javascript_include_tag 'application' %>
    <%= render 'analytics' if Rails.env.production? %>
  </head>

  <body>
    <div class="container">
      <%= render 'header' %>
      <%= content_tag :section, yield, page_tag_properties %>
      <%= render 'footer' %>
      <div class="loading blocker"></div>
      <div class="loading" id="spinner"><%= image_tag 'spinner.gif' %></div>
    </div>
  </body>
</html>
