!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = title_tag
    = stylesheet_link_tag     'application'
    = favicon_link_tag
    = javascript_include_tag 'vendor/modernizr', 'application'
    = render 'analytics' unless Rails.env =~ /development|test/
  %body
    %header
      = render 'header'
    %main
      = yield
    %footer
      = render 'footer'
