<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= title_tag %>

    <%= stylesheet_link_tag     'application'       %>
    <%= javascript_include_tag  'vendor/modernizr'  %>
    <%= favicon_link_tag        'favicon.ico'       %>
  </head>

  <body>
    <%= render 'header' %>
    <%= content_tag :section, yield, page_tag_properties %>
    <%= render 'footer' %>
    <%= javascript_include_tag 'application' %>
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1543273692594552']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1543273692594552&amp;ev=PixelInitialized" /></noscript>
    </body>
</html>
