!!!
%html{ lang: I18n.locale.to_s }
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}/
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{ name: 'description', content: t('.description') }/
    = csrf_meta_tags
    %title= title
    = stylesheet_link_tag 'application'
    = favicon_link_tag
    = javascript_include_tag 'vendor/modernizr'
    = render 'analytics' unless Rails.env =~ /development|test/
  %body
    %header
      %section
        .logo
          = image_tag 'logo.png', alt: t('.home')
        .social
          = t('.social').each do |service, url|
            = link_to url, title: service.titleize do
              = icon service
      %section
        .navigation
          %nav{ role: 'navigation' }
            = link_to t('.releases'), releases_path
            = link_to t('.artists'),  artists_path
            = link_to t('.shop'),     shop_url
            = link_to t('.podcast'),  podcast_articles_path
        .search
          = render 'searches/form'
    %main#page
      = yield
    %footer
      %nav
        %section
          = link_to t('.home'),         root_path
          = link_to t('.news'),         articles_path
          = link_to t('.shop'),         shop_path
          = link_to t('.artists'),      artists_path
        %section
          = link_to t('.releases'),     releases_path
          = link_to t('.merchandise'),  shop_url
          = link_to t('.newsletter'),   new_subscriber_path
          = link_to t('.podcast'),      podcast_articles_path
        %section
          = link_to t('.brotherly'),    brotherly_url
          = link_to t('.publishing'),   publishing_page_path
          = link_to t('.demos'),        new_demo_path
        %section
          = link_to t('.about'),        about_page_path
          = link_to t('.contact'),      contact_page_path
          = link_to t('.legal'),        legal_page_path
      %p
        &copy; #{Time.zone.now.year} Wax Poetic Music, LLC.
    = javascript_include_tag 'application'
